@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: var(--font-plus-jakarta-sans);
  --font-body: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);

  --color-primary-light: #b6f77d;
  --color-primary-dark: #85c94c;
  --color-ghost-body: #d7f6a6;
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: #0b110f; /* Dark forest green background like the image */
    color: #ffffff;
    font-family: var(--font-body);
  }
}

@layer utilities {
  .font-heading {
    font-family: var(--font-heading);
  }
  .font-body {
    font-family: var(--font-body);
  }
  .font-mono {
    font-family: var(--font-mono);
  }
}
